{% extends 'base.html' %}
{% block content %}
<form method="post"> {% csrf_token %}
    <h4>Tem certeza que deseja excluir o usuário "{{ usuario.username }}"?</h4>
    <br/>
    <button type="submit" class="btn btn-primary">
        remover
    </button>
</form>

{% endblock content %}