{% extends 'base.html' %}
 
{% block content %}
 
<form method="post" action=".?next={{ redirect_to }}"> {% csrf_token %}
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
 
    <button class="btn waves-effect waves-light" type="submit" name="login">Logar</button>
</form>
 
{% endblock content %}