{% extends 'base.html'%}

{% block content %}
<form method="post"> {% csrf_token %}
	<input type="text" name="username" placeholder="Nome do usuário">
	<input type="email" name="email" placeholder="E-mail">
	<input type="password" name="password" placeholder="Senha">
    <div class="input-field col s12">
	<select name="tipo_usuario">
		<option value="" disabled selected>Escola uma opção</option>
		<option value="administrador">Administrador</option>
		<option value="usuario">Usuário</option>
	</select>
	<label>Tipo de usuário</label>
    </div>
	    <button class="btn waves-effect waves-light" type="submit" name="action">Registrar</button>
</form>
{% endblock content %}